		</div>
		<section>
			<footer>
				<div class="container">
					<div class="row">
						<div class="span10 offset1 center">
							<div class="footer-icons center">
								<ul class="clearfix">
									<li><a href="https://twitter.com/tradestation"><div class="footer-symbols" aria-hidden="true" data-icon=""></div>@tradestation</a></li>
									<li><a href="https://github.com/tradestation"><div class="footer-symbols" aria-hidden="true" data-icon="i"></div>Github</a></li>
									<li><a href="mailto:webapi@tradestation.com"><div class="footer-symbols" aria-hidden="true" data-icon="a"></div>Contact</a></li>
								</ul>
							</div>
							<p>TradeStation WebAPI</p>
						</div>
					</div>
				</div>
			</footer>
		</section>
		<!-- JavaScript placed at the end so the page loads faster -->
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{site.baseurl}}/assets/scripts/jquery.inview.min.js"></script>
		<script type="text/javascript" src="{{site.baseurl}}/assets/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{site.baseurl}}/assets/scripts/main.js"></script>
	</body>
</html>