								{% assign usedcategories = '' %}
								{% for categoryweight in (1..10) %}
									{% for page in site.pages %}
										{% capture pagetitle %}{{page.title | upcase}}{% endcapture %}
										{% capture pagecategory %}{{page.category | replace: '-', ' ' | upcase}}{% endcapture %}
										{% if pagetitle == pagecategory and page.weight == categoryweight %}
											{% unless usedcategories contains page.category %}{% if page.category %}
												{% assign categorymod = categoryweight | modulo: 3 %}
												{% if categorymod == 1 %}
						<div class="row">
							<div class="span3 offset1">
								<ul>
												{% else %}
							<div class="span3">
								<ul>
												{% endif %}
												{% for doc in site.pages %}{% if doc.category == page.category %}
													{% capture title %}{{doc.title | upcase}}{% endcapture %}
													{% capture category %}{{page.category | replace: '-', ' ' | upcase}}{% endcapture %}
													{% if title == category %}
									<li><div class="menu-topic" style="text-transform: capitalize"><a href="{{site.baseurl}}/en/{{page.category}}">{{page.category | replace: '-', ' '}}</a></div></li>								
													{% endif %}
												{% endif %}{% endfor %}
												{% for docweight in (1..10) %}
													{% for doc in site.pages %}
														{% if doc.category == page.category and doc.weight == docweight %}
															{% capture title %}{{doc.title | upcase}}{% endcapture %}
															{% capture category %}{{page.category | replace: '-', ' ' | upcase}}{% endcapture %}
															{% unless title == category %}
									<li><a href="{{site.baseurl}}{{doc.url}}">{{doc.title}}</a></li>
															{% endunless %}
														{% endif %}
													{% endfor %}
												{% endfor %}
												{% for doc in site.pages %}
													{% if doc.category == page.category %}
														{% capture title %}{{doc.title | upcase }}{% endcapture %}
														{% capture category %}{{ page.category | replace: '-', ' ' | upcase}}{% endcapture %}
														{% unless title == category %}{% unless doc.weight %}
									<li><a href="{{site.baseurl}}{{doc.url}}">{{doc.title}}</a></li>
														{% endunless %}{% endunless %}
													{% endif %}
												{% endfor %}
								</ul>
							</div>
												{% if categorymod == 0 or categoryweight == categoryweight.size %}
						</div>
												{% endif %}
												{% capture usedcategories %}{{usedcategories}}{{page.category}}{% endcapture %}
											{% endif %}{% endunless %}
										{% endif %}
									{% endfor %}
								{% endfor %}