<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{page.title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="TradeStation WebAPI Documentation">
	<meta name="author" content="TradeStation Technologies, Inc.">
	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/stylesheets/docs.css">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/stylesheets/styles.css">
	<!-- HTML5 shim for IE6-8 support -->
	<!-- [if lt IE 9]>
		<script type="text/javascript" src="{{site.baseurl}}/assets/js/html5shiv.js"></script>
	<![endif]-->
	<link rel="apple-touch-icon-precomposed" type="image/png" sizes="144x144" href="{{site.baseurl}}/assets/images/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" type="image/png" sizes="114x114" href="{{site.baseurl}}/assets/images/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" type="image/png" sizes="72x72" href="{{site.baseurl}}/assets/images/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" type="image/png" sizes="57x57" href="{{site.baseurl}}/assets/images/apple-touch-icon-57-precomposed.png">
	<link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/favicon.png">
	<link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico">
	</head>
	<body id="web-api">
		<!-- Navbar -->
		<div id="main-nav" class="pinned nav">
			<div class="container">
				<div class="row">
					<div class="span10 offset1">
						<a id="menu-close" href="index.html" class="logo icon"><span>(Logo) Developers</span></a>
						<a id="menu" href="#">
							<span class="hamburger icon pull-right">
								<span class="toc">Table of Contents</span>
								<span class="fs1" aria-hidden="true" data-icon=""></span>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<nav id="main-nav-drop" class="pinned">
			<div class="container">
				<div class="row">
					<div class="span10 offset1">
								{% assign usedcategories = '' %}
								{% for categoryweight in (1..10) %}
									{% for page in site.pages %}
										{% capture pagetitle %}{{page.title | upcase}}{% endcapture %}
										{% capture pagecategory %}{{page.category | replace: '-', ' ' | upcase}}{% endcapture %}
										{% if pagetitle == pagecategory and page.weight == categoryweight %}
											{% unless usedcategories contains page.category %}{% if page.category %}
												{% assign categorymod = categoryweight | modulo: 3 %}
												{% if categorymod == 1 %}
						<div class="row">
							<div class="span3 offset1">
								<ul>
												{% else %}
							<div class="span3">
								<ul>
												{% endif %}
												{% for doc in site.pages %}{% if doc.category == page.category %}
													{% capture title %}{{doc.title | upcase}}{% endcapture %}
													{% capture category %}{{page.category | replace: '-', ' ' | upcase}}{% endcapture %}
													{% if title == category %}
									<li><div class="menu-topic" style="text-transform: capitalize"><a href="{{site.baseurl}}/en/{{page.category}}">{{page.category | replace: '-', ' '}}</a></div></li>								
													{% endif %}
												{% endif %}{% endfor %}
												{% for docweight in (1..10) %}
													{% for doc in site.pages %}
														{% if doc.category == page.category and doc.weight == docweight %}
															{% capture title %}{{doc.title | upcase}}{% endcapture %}
															{% capture category %}{{page.category | replace: '-', ' ' | upcase}}{% endcapture %}
															{% unless title == category %}
									<li><a href="{{site.baseurl}}{{doc.url}}">{{doc.title}}</a></li>
															{% endunless %}
														{% endif %}
													{% endfor %}
												{% endfor %}
												{% for doc in site.pages %}
													{% if doc.category == page.category %}
														{% capture title %}{{doc.title | upcase }}{% endcapture %}
														{% capture category %}{{ page.category | replace: '-', ' ' | upcase}}{% endcapture %}
														{% unless title == category %}{% unless doc.weight %}
									<li><a href="{{site.baseurl}}{{doc.url}}">{{doc.title}}</a></li>
														{% endunless %}{% endunless %}
													{% endif %}
												{% endfor %}
								</ul>
							</div>
												{% if categorymod == 0 or categoryweight == categoryweight.size %}
						</div>
												{% endif %}
												{% capture usedcategories %}{{usedcategories}}{{page.category}}{% endcapture %}
											{% endif %}{% endunless %}
										{% endif %}
									{% endfor %}
								{% endfor %}
					</div>
				</div>
			</div>
		</nav>
		<div id="page-container" class="story-containter">
			<div class="hero-wrapper">
				<div class="container">
					<div class="row">
						<div class="span10 offset1">
							<div class="home-hero">
								<h1 class="hero-text animated fadeInDown">TradeStation WebAPI</h1>
								<h2 class="hero-description animated fadeInDown">Create Standalone Apps Using Any Language of Choice</h2>
								<a class="hero-btn hero-intro-btn animated fadeInUp" href="{{site.baseurl}}/en/getting-started/">Get Started  <i class="icon-chevron-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="intro-wrapper">
				<div class="container">
					<div class="row">
						<div class="span10 offset1 featurette">
							<img class="pull-right featurette-image" src="{{site.baseurl}}/assets/images/languages.png" alt="Programming Languages You Can Develop With" />
							<h1 class="feature-text">What is the TradeStation WebAPI?</h1>
							<p>
								Create dynamic web, mobile, or stand-alone applications using your programming language of choice. Whether it is C#, C++, Ruby on Rails, PHP, Python or any other language that can access the Internet, the TradeStation WebAPI lets you provide a custom solution that leverages TradeStation’s real-time market data network and fast order-execution services without having to run the TradeStation platform simultaneously.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="span10 offset1">
							<h1 class="text-center feature-text-b">What You Can Do with the WebAPI</h1>
							<p>
								The Tradestation API allows you to sync your database with Tradestation for better list and campaign management. Create client portals, add a subscribe form to your checkout page, segment campaigns based on purchase history, link campaign stats to your database, sync email activity with your database, and more.
							</p>
							<img class="scroll-animate featurette-image-top" src="{{site.baseurl}}/assets/images/device-family.png" alt="WebTrading Was Built On The TradeStation WebAPI" />
						</div>
					</div>
				</div>
			</div>
			<div class="howitworks-wrapper">
				<div class="container">
					<div class="row">
						<div class="span10 offset1">
							<h1 class="text-center feature-text-b">How It Works</h1>
							<div class="row">
								<div class="span3">
									<img src="http://placehold.it/350x250" alt="Image Placeholder" />
									<p class="hiw-p">Integrate the TradeStation WebAPI into your new or existing product.</p>
								</div>
								<div class="span3">
									<img src="http://placehold.it/350x250" alt="Image Placeholder" />
									<p class="hiw-p">
										Provide a link to TradeStation’s authorization page, giving any TradeStation client the ability to authorize your product to use his market data entitlements as well as place orders and access account information on his behalf.
									</p>
								</div>
								<div class="span3">
									<img src="http://placehold.it/350x250" alt="Image Placeholder" />
									<p class="hiw-p">Integrate the Tradestation WebAPI into your new or existing product.</p>
								</div>
							</div>
							<h1 class="text-center feature-text-c">Some kind of tagline goes here.</h1> 
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="container">
				<div class="row">
					<div class="span10 offset1 center">
						<div class="footer-icons center">
							<ul class="clearfix">
								<li><a href="#"><div class="footer-symbols" aria-hidden="true" data-icon=""></div>@tradestation</a></li>
								<li><a href="#"><div class="footer-symbols" aria-hidden="true" data-icon="i"></div>Github</a></li>
								<li><a href="#"><div class="footer-symbols" aria-hidden="true" data-icon="a"></div>Contact</a></li>
							</ul>
						</div>
						<p>TradeStation WebAPI</p>
					</div>
				</div>
			</div>
		</footer>
		<!-- JavaScript placed at the end so the page loads faster -->
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{site.baseurl}}/assets/scripts/jquery.inview.min.js"></script>
		<script type="text/javascript" src="{{site.baseurl}}/assets/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{site.baseurl}}/assets/scripts/main.js"></script>
	</body>
</html>