{% include newhead.html %}
			<div class="hero-wrapper">
				<div class="container">
					<div class="row">
						<div class="span10 center">
							<div class="home-hero">
								<h1 class="hero-text animated fadeInDown">TradeStation WebAPI</h1>
								<h2 class="hero-description animated fadeInDown">Create Standalone Apps Using Any Language of Choice</h2>
								<a class="hero-btn hero-intro-btn animated fadeInUp" href="{{site.baseurl}}/en/getting-started/">Get Started  <i class="icon-chevron-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="intro-wrapper">
				<div class="container">
					<div class="row">
						<div class="span10 center featurette">
							<img class="pull-right featurette-image visible-desktop" src="{{site.baseurl}}/assets/images/languages.png" alt="Programming Languages You Can Develop With" />
							<h1 class="feature-text">What is the TradeStation WebAPI?</h1>
							<p>
								Create dynamic web, mobile, or stand-alone applications using your programming language of choice. Whether it is C#, C++, Ruby on Rails, PHP, Python or any other language that can access the Internet, the TradeStation WebAPI lets you provide a custom solution that leverages TradeStation’s real-time market data network and fast order-execution services without having to run the TradeStation platform simultaneously.
							</p>

							<img class="featurette-image hidden-desktop" src="{{site.baseurl}}/assets/images/languages.png" alt="Programming Languages You Can Develop With" />
						</div>
					</div>
					<div class="row">
						<div class="span10 center">
							<h1 class="text-center feature-text-b">What You Can Do with the WebAPI</h1>
							<p>
								The TradeStation WebAPI allows you to build quality applications that are empowered by the power of the TradeStation Platform. You can empower your app with real-time and historical Market Data, Symbol Information, and Order Execution functionality.
							</p>
							<img id="animate-device" class="featurette-image-top hidden-phone" src="{{site.baseurl}}/assets/images/device-family.png" alt="WebTrading Was Built On The TradeStation WebAPI" />

							<img class="featurette-image-top visible-phone" src="{{site.baseurl}}/assets/images/device-family.png" alt="WebTrading Was Built On The TradeStation WebAPI"/>
						</div>
					</div>
				</div>
			</div>
			<div id="how-it-works" class="howitworks-wrapper">
				<div class="container">
					<div class="row">
						<div class="span10 center">
							<h1 class="text-center feature-text-b">How It Works</h1>
							<div class="row">
								<div class="span3">
									<img src="{{site.baseurl}}/assets/images/hiw-1.jpg" alt="Image Placeholder" />
									<p class="hiw-p">Integrate the TradeStation WebAPI into your new or existing product.</p>
								</div>
								<div class="span3">
									<img src="{{site.baseurl}}/assets/images/hiw-2.jpg" alt="Image Placeholder" />
									<p class="hiw-p">
										Provide a link to TradeStation’s authorization page, giving any TradeStation client the ability to authorize your product to use his market data entitlements as well as place orders and access account information on his behalf.
									</p>
								</div>
								<div class="span3">
									<img src="{{site.baseurl}}/assets/images/hiw-3.jpg" alt="Image Placeholder" />
									<p class="hiw-p">Once authorized, request market data for any symbol for which the client is entitled. You will also be able to place orders and track each order’s status using the provided interfaces.</p>
								</div>
							</div>

							    <div class="hiw-tagline-text">
						            <h1 id="animate-tagline" class="text-center feature-text-c">Start building with the TradeStation WebAPI.</h1> 
						        </div>
				          <div class="hiw-tagline-button">
				            <a id="animate-tagline-btn" class="hero-btn hero-mini-btn" href="{{site.baseurl}}/en/getting-started/">Get Started</a>
				          </div>

						</div>
					</div>
				</div>
			</div>
{% include newfoot.html %}